@model PrescriptionManager.ViewModels.EditMedViewModel

@{
    ViewData["Title"] = "Edit A Medication";
}
<h1>Edit Your Medication: @Model.Med.Name</h1>

<p>Coming Soon</p>

<form asp-controller="Medication" asp-action="EditPost" method="post">

    <div class="form-group">
        <label asp-for="@Model.Med.Name"></label>
        <input class="form-control" asp-for="@Model.Med.Name" />
        <span asp-validation-for="@Model.Med.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.Dosage"></label>
        <input class="form-control" asp-for="@Model.Med.Dosage" />
        <span asp-validation-for="@Model.Med.Dosage"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.PillsPerDose"></label>
        <input class="form-control" asp-for="@Model.Med.PillsPerDose" />
        <span asp-validation-for="@Model.Med.PillsPerDose"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.PrescribingDoctor"></label>
        <input class="form-control" asp-for="@Model.Med.PrescribingDoctor" />
        <span asp-validation-for="@Model.Med.PrescribingDoctor"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.Pharmacy"></label>
        <input class="form-control" asp-for="@Model.Med.Pharmacy" />
        <span asp-validation-for="@Model.Med.Pharmacy"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.ScripNumber"></label>
        <input class="form-control" asp-for="@Model.Med.ScripNumber" />
        <span asp-validation-for="@Model.Med.ScripNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.TimeOfDay"></label>
        <select asp-for="@Model.SelectedTime" asp-items="@Model.Times"></select>
        <span asp-validation-for="@Model.Med.TimeOfDay"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.Description"></label>
        <input class="form-control" asp-for="@Model.Med.Description" />
        <span asp-validation-for="@Model.Med.Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.RefillRate"></label>
        <input class="form-control" asp-for="@Model.Med.RefillRate" />
        <span asp-validation-for="@Model.Med.RefillRate"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Med.Notes"></label>
        <input class="form-control" asp-for="@Model.Med.Notes" />
        <span asp-validation-for="@Model.Med.Notes"></span>
    </div>

    <input type="hidden" value="@Model.Med.UserID" asp-for="@Model.Med.UserID" />

    <input type="hidden" value="@Model.Med.ID" asp-for="@Model.MedId" name="id" />

    <input type="submit" value="Update Medication" />

</form>