@model IList<Medication>

@{
    ViewData["Title"] = "Medication Home";
}
<h1>Your Medications</h1>

<h3><a asp-controller="Medication" asp-action="Add">Add a New Medication</a></h3>

@if (Model.Count == 0)
{
    <p>No Medications Yet!</p>
} else {

<table class="table">
    <tr>
        <th>Medication</th>
        <th>Dosage</th>
        <th>Times Taken Per Day</th>
        <th>Time of Day Taken</th>
        <th>Refill After (Days)</th>
    </tr>

    @foreach (Medication item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Dosage</td>
            <td>@item.TimesXDay</td>
            <td>@item.TimeOfDay</td>
            <td>@item.RefillRate</td>
            <td><a asp-controller="Medication" asp-action="Edit" asp-route-id="@item.ID">Edit Medication</a></td>
            <td><a asp-controller="Medication" asp-action="Remove" asp-route-id="@item.ID">Remove Medication</a></td>
        </tr>
    }
</table>

}

Done for today? <a asp-controller="Account" asp-action="LogOff">Logout</a>