

@{
    ViewData["Title"] = "View";
}

<h1>@ViewBag.med.Name</h1>

<br />

<table>
    <tr>
        <td><strong>Medication Name: </strong></td>
        <td></td>
        <td>@ViewBag.med.Name</td>
    </tr>

    <tr>
        <td><strong>Medication Dosage: </strong></td>
        <td></td>
        <td>@ViewBag.med.Dosage</td>
    </tr>

    <tr>
        <td><strong>Number of Pills per Dose: </strong></td>
        <td></td>
        <td>@ViewBag.med.PillsPerDose</td>
    </tr>

    <tr>
        <td><strong>Time of Day Taken: </strong></td>
        <td></td>
        <td>@ViewBag.med.TimeOfDay</td>
    </tr>

    <tr>
        <td><strong>Prescribing Physician: </strong></td>
        <td></td>
        <td>@ViewBag.med.PrescribingDoctor</td>
    </tr>

    <tr>
        <td><strong>Pharmacy: </strong></td>
        <td></td>
        <td>@ViewBag.med.Pharmacy</td>
    </tr>

    <tr>
        <td><strong>Prescription Number: </strong></td>
        <td></td>
        <td>@ViewBag.med.ScripNumber</td>
    </tr>

    <tr>
        <td><strong>Description: </strong></td>
        <td></td>
        <td>@ViewBag.med.Description</td>
    </tr>

    <tr>
        <td><strong>Notes: </strong></td>
        <td></td>
        <td>@ViewBag.med.Notes</td>
    </tr>
</table>